In [46]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION']=spark_version

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

In [47]:
import os
from pyspark.sql import SparkSession

os.environ["JAVA_HOME"] = os.popen("/usr/libexec/java_home -v 11").read().strip()
os.environ["SPARK_HOME"] = "/Users/cmatthews/Desktop/Data-Analyst/Home Sales Analysis/spark-3.4.0-bin-hadoop3"

import findspark
findspark.init()

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [48]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [49]:
import os

# Set correct environment variables in Python
os.environ["JAVA_HOME"] = "/Library/Java/JavaVirtualMachines/openjdk-11.jdk/Contents/Home"
os.environ["SPARK_HOME"] = "/Users/cmatthews/Desktop/Data-Analyst/Home Sales Analysis/spark-3.4.0-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

# Create a Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [50]:
# Set Spark version
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION'] = spark_version

# Install wget if not installed (macOS)
# brew install wget

# Download and extract Spark
!wget -q https://archive.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz

# Set environment variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"  # Adjust if necessary
os.environ["SPARK_HOME"] = f"{os.getcwd()}/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

In [51]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [52]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [53]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [54]:
import urllib.request
import os
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# Define the URL where your CSV file is located
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
local_csv_path = "/tmp/home_sales_revised.csv"

# Download the file from the URL to the local path
urllib.request.urlretrieve(url, local_csv_path)

# Load the CSV file into a DataFrame
df = spark.read.option("header", "true").csv(local_csv_path)

# Create a temporary view of the DataFrame
df.createOrReplaceTempView("home_sales")

# Example query
result_df = spark.sql("SELECT * FROM home_sales WHERE price > 500000")
result_df.show()

+--------------------+----------+----------+-------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built|  price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+-------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016| 936923|       4|        3|       3167|   11733|     2|         1|  76|
|15a5830f-1529-4c5...|2019-07-06|      2010| 843191|       3|        6|       5086|   14637|     2|         0|  91|
|fd8213d0-3872-4de...|2020-04-23|      2017| 858900|       4|        5|       4465|    9873|     1|         1|  53|
|44b0b335-2cbd-433...|2020-06-04|      2013|1467672|       7|        3|       5510|    8269|     1|         1|  93|
|3d5545f8-bd3b-476...|2020-09-19|      2015| 797862|       4|        6|       3494|   10385|     2|         0|  90|
|c7d09d09-7d76-4b1...|2019-06-02|      2014| 618191|       4|        4|       3880|   11083|     3|         0|  91|
|aa8e5e5d-522a-495...|2019-02-28|      2016|1343434|       8|        3|       5432|   14245|     1|         1|  89|
|37e9267d-e7a4-465...|2022-05-28|      2013| 885325|       4|        3|       4617|    9853|     3|         0|  50|
|ac4be07f-8731-4aa...|2021-07-17|      2015| 578348|       3|        5|       3621|   12012|     1|         0|  58|
|c4b80d59-5ff2-4c5...|2019-04-04|      2015|1256833|       8|        4|       5784|    9875|     1|         0|  82|
|1ea582bc-0bc3-499...|2019-03-18|      2011| 914232|       4|        6|       3324|   14298|     2|         0|  90|
|e8187a24-86c1-4f0...|2021-11-29|      2014| 659125|       5|        3|       3990|   14649|     2|         0|  74|
|5a3141e4-ae86-4f2...|2019-03-24|      2016|1402042|       8|        5|       5469|    8998|     1|         1|  99|
|fddbe494-9ac6-41c...|2020-06-04|      2016| 743643|       5|        6|       4435|   13517|     2|         0|  57|
|760b227e-56b1-450...|2021-05-26|      2015| 697669|       3|        5|       3794|   13544|     3|         1|  88|
|ad9c3954-0e5b-44f...|2020-03-27|      2011|1354497|       8|        6|       5967|    8397|     3|         1|  82|
|338486cd-b7bc-4bf...|2019-08-11|      2016| 968663|       3|        5|       4535|   11960|     2|         1|  64|
|25c3b65d-2911-4fd...|2021-09-21|      2011| 917678|       5|        3|       5003|   12496|     1|         1|  54|
|1e7af1cf-36b2-4d5...|2019-12-07|      2012|1360481|       8|        5|       5382|   12482|     2|         0|  81|
|3397c4c3-25fe-46c...|2020-09-11|      2015| 813113|       5|        3|       5492|   14889|     2|         0|  56|
+--------------------+----------+----------+-------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [55]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
from pyspark.sql import SparkSession

# Initialize Spark session if not already done
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# Calculate the average price for a four-bedroom house sold per year
avg_price_per_year = spark.sql("""
    SELECT 
        YEAR(date) AS year, 
        ROUND(AVG(price), 2) AS avg_price
    FROM 
        home_sales
    WHERE 
        bedrooms = 4
    GROUP BY 
        year
    ORDER BY 
        year
""")

# Show the results
avg_price_per_year.show()

+----+---------+
|year|avg_price|
+----+---------+
|2019| 300263.7|
|2020|298353.78|
|2021|301819.44|
|2022|296363.88|
+----+---------+

In [56]:
# Calculate the average price of homes with 3 bedrooms and 3 bathrooms for each year they were built
avg_price_per_year_built = spark.sql("""
    SELECT 
        date_built AS year, 
        ROUND(AVG(price), 2) AS avg_price
    FROM 
        home_sales
    WHERE 
        bedrooms = 3 AND bathrooms = 3
    GROUP BY 
        date_built
    ORDER BY 
        date_built
""")

# Show the results
avg_price_per_year_built.show()

+----+---------+
|year|avg_price|
+----+---------+
|2010|292859.62|
|2011|291117.47|
|2012|293683.19|
|2013|295962.27|
|2014|290852.27|
|2015| 288770.3|
|2016|290555.07|
|2017|292676.79|
+----+---------+

In [57]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
# Calculate the average price of homes with 3 bedrooms, 3 bathrooms, two floors, 
# and at least 2,000 square feet for each year they were built
avg_price_specific_criteria = spark.sql("""
    SELECT 
        date_built AS year, 
        ROUND(AVG(price), 2) AS avg_price
    FROM 
        home_sales
    WHERE 
        bedrooms = 3 
        AND bathrooms = 3
        AND floors = 2
        AND sqft_living >= 2000
    GROUP BY 
        date_built
    ORDER BY 
        date_built
""")

# Show the results
avg_price_specific_criteria.show()

+----+---------+
|year|avg_price|
+----+---------+
|2010|285010.22|
|2011|276553.81|
|2012|307539.97|
|2013|303676.79|
|2014|298264.72|
|2015|297609.97|
|2016| 293965.1|
|2017|280317.58|
+----+---------+

In [58]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

--- 4.410743713378906e-05 seconds ---

In [59]:
# 7. Cache the the temporary table home_sales.
# Check if the table is cached
spark.catalog.isCached("home_sales")

False

In [60]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

False

In [61]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

--- 2.6226043701171875e-05 seconds ---

In [62]:
# Overwrite the existing Parquet files if they already exist
df.write.mode("overwrite").partitionBy("date_built").parquet("home_sales_partitioned.parquet")

In [63]:
# Read the partitioned Parquet data
df_parquet = spark.read.parquet("home_sales_partitioned.parquet")

In [64]:
# 11. Read the parquet formatted data.
parquet_df = spark.read.parquet("home_sales_partitioned.parquet")

# Show the first few rows of the DataFrame to confirm it loaded correctly
parquet_df.show()

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|      2015|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|      2015|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|      2015|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|      2015|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|      2015|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|      2015|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|      2015|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|      2015|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|      2015|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|      2015|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|      2015|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|      2015|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|      2015|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|      2015|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

In [72]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

--- 4.38690185546875e-05 seconds ---

In [73]:
# 14. Uncache the home_sales temporary table.
# Uncache the home_sales temporary table
spark.catalog.uncacheTable("home_sales")

In [74]:
# 15. Check if the home_sales is no longer cached
# Check if the home_sales table is cached
is_cached = spark.catalog.isCached("home_sales")

# Print the result
print(f"Is 'home_sales' cached? {is_cached}")

Is 'home_sales' cached? False